
/* body{
 box-sizing: border-box;
 padding: 0;
}
.section{
    padding: 0;
    margin: 0;
    height: 95vh;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    width: 100%;
}
.main{
    border-radius: 50px;
    background-color: black;
    width: 22%;
    height: 80vh;
    align-content: center;
    
    justify-items: center;
    justify-self: center;
}
input{
    color: white;
    border: black;
    border-radius: black;
    background-color: black;
    font-size: 30px;
    width: 15rem;
    height: 12vh;
    margin-bottom: 20px;
    text-align: right;
}
input::placeholder{
    border: black;
    border-radius: black;
    background-color: black;
    text-align: right;
}
button{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5rem;
    width: 60px;
    height: 60px;
}
.bar{
    height: 8vh;
    width: 297px;
    position: absolute;
    text-align: center;
    align-content: center;
}
.bar button{
    background-color: white;
    font-size: 0;
    font-size: none;
    cursor: pointer;
    border-radius: none;
    height: 8px;
    width: 130px;
} */

 /* Media Query for Mobile Devices */ 
 @media (max-width: 768px) {
    .main{
        border-radius: 45px;
        background-color: black;
        width: 50%;
        height: 60vh;
        align-content: center;
        justify-items: center;
        justify-self: center;
        background-color: brown;
    }
    input{
        color: white;
        border: black;
        border-radius: black;
        background-color: black;
        font-size: 42px;
        width: 15rem;
        height: 8vh;
        margin-bottom: 18px;
        text-align: right;
        border-radius: 15px;
    }
    input::placeholder{
        color: white;
        border-radius: black;
        background-color: black;
        text-align: right;
    }
    button{
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5rem;
        width: 60px;
        height: 60px;
    }
    .bar{
        display: none;
    }
}

/* Media Query for low resolution Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) {
    /* .main{
        border-radius: 45px;
        background-color: black;
        width: 62%;
        height: 70vh;
        align-content: center;
        justify-items: center;
        justify-self: center;
        background-color: pink;
    }
    input{
        color: white;
        border: black;
        border-radius: black;
        background-color: black;
        font-size: 30px;
        width: 15rem;
        height: 8vh;
        margin-bottom: 18px;
        text-align: right;
    }
    input::placeholder{
        color: white;
        border-radius: black;
        background-color: black;
        text-align: right;
    }
    button{
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5rem;
        width: 60px;
        height: 60px;
    }
    .bar{
        display: none;
    } */
}

/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px) {
    .main{
        border-radius: 40px;
        background-color: black;
        width: 22%;
        height: 70vh;
        align-content: center;
        justify-items: center;
        justify-self: center;
        background-color: greenyellow;
    }
    input{
        color: white;
        border: black;
        border-radius: black;
        background-color: black;
        font-size: 30px;
        width: 10rem;
        height: 12vh;
        margin-bottom: 10px;
        text-align: right;
    }
    input::placeholder{
        color: white;
        border-radius: black;
        background-color: black;
        text-align: right;
    }
    button{
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5rem;
        width: 40px;
        height: 40px;
    }
    .bar{
        display: none;
    }
} 

/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px) {
    .main{
        border-radius: 45px;
        background-color: black;
        width: 30%;
        height: 80vh;
        align-content: center;
        justify-items: center;
        justify-self: center;
        background-color: blue;
    }
    input{
        color: white;
        border: black;
        border-radius: black;
        background-color: black;
        font-size: 30px;
        width: 15rem;
        height: 8vh;
        margin-bottom: 18px;
        text-align: right;
    }
    input::placeholder{
        color: white;
        border-radius: black;
        background-color: black;
        text-align: right;
    }
    button{
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5rem;
        width: 64px;
        height: 64px;
    }
    .bar{
        display: none;
    }
}
/* Media Query for Large screens */ 
@media (min-width: 1281px) {
    .main{
        border-radius: 45px;
        background-color: black;
        width: 22%;
        height: 80vh;
        align-content: center;
        justify-items: center;
        justify-self: center;
    }
    input{
        color: white;
        border: black;
        border-radius: black;
        background-color: black;
        font-size: 30px;
        width: 15rem;
        height: 8vh;
        margin-bottom: 18px;
        text-align: right;
    }
    input::placeholder{
        color: white;
        border-radius: black;
        background-color: black;
        text-align: right;
    }
    button{
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5rem;
        width: 64px;
        height: 64px;
    }
    .bar{
        height: 8vh;
        width: 297px;
        position: absolute;
        text-align: center;
        align-content: center;
    }
    .bar button{
        background-color: white;
        font-size: 0;
        font-size: none;
        cursor: pointer;
        border-radius: none;
        height: 8px;
        width: 120px;
    }
  
}